<body style="font-family: &quot;Times New Roman&quot;, PMingLiU;"><p id="skipnavtop"><a href="#content_area">Jump to the beginning of content</a></p>
    <script type="text/javascript"><!--
	    var url = location.href;
	    if (url.indexOf("?print=1")==-1 && url.indexOf("&print=1")==-1) {
	    	    ShowHeader();
	    } else {
	    	    ShowPrintHeader();
	    }
    //-->
    </script>Development Bureau - The Government of the Hong Kong Special Administrative Region<br>
<br>
<br>
<a href="/">[Home]</a>
<a href="javascript:graphicSwitch();">[Graphic Version]</a>
<a href="javascript:switchLang(2);">[Traditional Chinese]</a>
<a href="javascript:switchLang(3);">[Simplified Chinese]</a>
<a href="javascript:jump('sitemap');">[Site map]</a>
<a href="javascript:jump('contactus');">[Contact us]</a>
<a href="javascript:search();">[Search]</a>
<input id="qu" name="qu" size="8" style="width: 91pt; font-family: Arial;" type="text">
<br>
<br>
<hr>
<div id="div_pagename">2021 Quarter 2 to 2022 Quarter 1</div>
<hr>
<br>
<div style="clear:both;">


    <a id="content_area" name="content_area"></a>
    <!-- CONTENT START -->
  <!--WCAGFixed--><ul>
	<li><span class="heading3">CONTENTS</span><br><a href="/en/construction_sector_matters/tender_notices/forecast_of_consultancies_and_tenders/tenders/notes/t_index.html">Notes</a> </li>
	<li><span class="heading3">List of Tenders</span> 
<ul>
		<li><a href="https://www.devb.gov.hk/filemanager/en/content_1239/ArchSD.pdf" target="_blank" title="This link will open in a new window (1)" class="">Architectural Services Department</a> [PDF]</li>
		<li><a href="https://www.devb.gov.hk/filemanager/en/content_1239/BD.pdf" target="_blank" title="This link will open in a new window (2)">Buildings Department</a> [PDF]</li>
		<li><a href="https://www.devb.gov.hk/filemanager/en/content_1239/CEDD%20v.2.pdf" target="_blank" title="This link will open in a new window (3)" class="">Civil Engineering and Development Department</a> [PDF]</li>
		<li><a href="https://www.devb.gov.hk/filemanager/en/content_1239/DSD%20v.3.pdf" target="_blank" title="This link will open in a new window (4)" class="">Drainage Services Department</a> [PDF]</li>
		<li><a href="https://www.devb.gov.hk/filemanager/en/content_1239/EMSD%20v.3.pdf" target="_blank" title="This link will open in a new window (5)" class="">Electrical and Mechanical Services Department</a> [PDF]</li>
		<li><a href="https://www.devb.gov.hk/filemanager/en/content_1239/EPD.pdf" target="_blank" title="This link will open in a new window (6)" class="">Environmental Protection Department</a> [PDF]</li>
		<li><a href="https://www.devb.gov.hk/filemanager/en/content_1239/HAD%20v.1.pdf" target="_blank" title="This link will open in a new window (7)" class="">Home Affairs Department</a> [PDF]</li>
		<li><a href="https://www.devb.gov.hk/filemanager/en/content_1239/HyD%20v.1.pdf" target="_blank" title="This link will open in a new window (8)" class="">Highways Department</a> [PDF]</li>
		<li><a href="https://www.devb.gov.hk/filemanager/en/content_1239/LandsD.pdf" target="_blank" title="This link will open in a new window (9)">Lands Department</a>&nbsp;[PDF]</li>
		<li><a href="https://www.devb.gov.hk/filemanager/en/content_1239/SWD%20v.1.pdf" target="_blank" title="This link will open in a new window (10)">Social Welfare Department</a> [PDF]</li>
		<!--		
		<li><a  href="/filemanager/en/content_1239/TD.pdf" target="_blank" title="This link will open in a new window (11)" >Transport Department</a> [PDF]</li> 
		-->
		<li><a href="https://www.devb.gov.hk/filemanager/en/content_1239/WSD%20v.2.pdf" target="_blank" title="This link will open in a new window (12)">Water Supplies Department</a>&nbsp;[PDF]</li>
	</ul>
	</li>
</ul>

    <!-- CONTENT END -->
    <script type="text/javascript">
    <!--
      if (url.indexOf("?print=1")==-1 && url.indexOf("&print=1")==-1) {
        ShowFooter();
      } else {
        ShowPrintFooter();
      }
    //-->
    </script>
</div>
<div style="clear:both;">
<hr>
<br>
<a href="#">Top</a>
</div>
<hr>
<br>
<script type="text/javascript">
<!--
if ('function' == typeof generateMenu){
generateMenu(rootMenu)
}
//-->
</script><a href="/en/construction_sector_matters/whatsnew/t_index.html" target="">What's New</a>
 | 
<a href="/en/construction_sector_matters/consultants/t_index.html" target="">Consultants</a>
 | 
<a href="/en/construction_sector_matters/contractors/t_index.html" target="">Contractors</a>
 | 
<a href="/en/construction_sector_matters/service_promotion/t_index.html" target="" class="">Professional Services Promotion</a>
 | 
<a href="/en/construction_sector_matters/electronic_services/t_index.html" target="">Electronic Services</a>
 | 
<a href="/en/construction_sector_matters/tender_notices/t_index.html" target="" class="">Tender Notices</a>
 | 
<a href="/en/construction_sector_matters/other_information/t_index.html" target="">Other Information</a>
<br>
<br>
<hr>
<br>
<a href="/en/home/t_index.html" target="">Home</a>
 | 
<a href="/en/sdev/t_index.html" target="">Secretary for Development </a>
 | 
<a href="/en/whatsnew/t_index.html" target="">What's New</a>
 | 
<a href="/en/issues_in_focus/t_index.html" target="" class="">Issues in Focus</a>
 | 
<a href="/en/about_us/t_index.html" target="" class="">About Us</a>
 | 
<a href="/en/publications_and_press_releases/t_index.html" target="" class="">Publications and Press Releases</a>
 | 
<a href="/en/legco_matters/t_index.html" target="">Legislative Council Matters</a>
 | 
<a href="/en/boards_and_committees/t_index.html" target="">Boards and Committees</a>
 | 
<a href="/en/construction_sector_matters/t_index.html" target="">Construction Sector Matters</a>
 | 
<a href="/en/public_forms/t_index.html" target="">Public Forms</a>
 | 
<a href="/en/access_to_information/t_index.html" target="">Access to Information</a>
 | 
<a href="/en/other_information/t_index.html" target="" class="">Other Information</a>
 | 
<a href="/en/links/t_index.html" target="">Links</a>
 | 
<a href="/en/job_vacancies/t_index.html" target="">Job Vacancies</a>
 | 
<a href="/en/tender_notices/t_index.html" target="">Tender Notices</a>
 | 
<a href="/en/contactus/t_index.html" target="">Contact Us</a>

<br>
<br>
<hr>
<br>
2009&nbsp;©
| <a href="javascript:jump('importantnotices');"><u>Important notices</u></a>
| <a href="/en/important/privacy_policy/t_index.html">Privacy Policy</a>
|
<span id="phReviewDate" style="display: none;">
Last review date:
<span id="div_reviewdate"><!-- Review Date --></span>
</span>
<span id="phRevisionDate" style="display: inline;">
Last revision date:
<span id="div_revisiondate">1 Apr 2021</span>
</span>
<br>


    <div id="div_generated_pagename" style="display:none;">2021 Quarter 2 to 2022 Quarter 1</div>
    <script type="text/javascript"><!--
        function setTemplateVariables(){
            var targetdiv, sourcediv;
            targetdiv = document.getElementById("div_pagename");
            sourcediv = document.getElementById("div_generated_pagename");
            if (targetdiv && sourcediv){
                targetdiv.innerHTML = sourcediv.innerHTML;
            }
        }
        
        setTemplateVariables();
    //-->
    </script>
  

</body>